// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Space colors!
$darkest: #001427;
$dark: #360568;
$lighter: #9666E4;
$light: #541388;
$emphasis: #540D6E;
$strong: #0082a4;
$validates: #1CCB7E;
$white: white;
