// Specific CSS for your home-page
body {
  color: $white;
  background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  background-color: #001427;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
#map {
  max-width: 750px;
  max-height: 450px;
  margin: 30px auto;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
