<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<h2>Authorizations,  will still need to be implemented for editing profile, ask me (frank)</h2>
<%= render "form", current_user: @user %>
