<div class="sidebar-body">
  <ul class="tabs">
    <li>Dashboard</li>
    <li><%= link_to "My space trips", user_dashboard_path(current_user) %></li>
    <li><%= link_to "Account", user_dashboard_account_info_path(current_user) %></li>
    <li><%= link_to "My spaceships", user_dashboard_my_spaceships_path(current_user) %></li>
    <li><%= link_to "Spaceship bookings", user_dashboard_my_spaceships_bookings_path(current_user) %></li>
  </ul>
</div>
