<%= link_to user_spaceship_path(spaceship.user, spaceship) do %>
<div class="popup-content" style="background-image: url(<%= cl_image_path spaceship.image %>); background-position: center; background-size: cover;">
  <div class="popup-content-info">
    <p>€<%= spaceship.price %></p>
    <h3><%= spaceship.name %></h3>
  </div>
</div>
<% end %>
