.alert {
  position: relative;
  z-index: 1000;
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}

.alert-info {
  color: $white;
  background-color: $validates;
  border-color: $validates;
}

.alert-warning {
  color: $white;
  background-color: $strong;
  border-color: $strong;
}
