.btn-main {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $lighter;
  transition: background 0.3s ease;
  font-weight: regular;
  margin: 10px;
}

.btn-main:hover {
  background: $validates;
  color: white;
}
