.modal-content {
  border: solid 1px $white;
  color: $white;
  border-radius: 10px;
  background-color: $dark;
}

.modal-body {
  margin: 10px auto;
  img {
    margin-bottom: 20px;
  }
}

.modal-contact {
  width: 300px;
}
