.navbar-lewagon {
  color: $white;
  justify-content: space-between;
  background: $dark;
  .navbar-brand {
    padding: 0;
  }
  p {
    margin: 0;
    .fas {
      font-size: 32px;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-dark .navbar-nav .nav-link {
  color: $white;
}
