.sidebar {
  min-width: 250px;
  position: sticky;
  top: 0px;
}
.sidebar-body {
  background-color: $lighter;
  height: 100vh;
}

.tabs {
  list-style-type: none;
  padding: 0px;
  li {
    padding: 15px 0px 15px 40px;
    a {
    color: $white;
    }
  }
}

#sidebar-title {
  background-color: $darkest;
}
