.card-dashboard {
  position: relative;
  height: 180px;
  border-radius: 10px;
  margin: 10px 25px;
  box-shadow: 2px 2px 20px black;
  display: flex;
  align-items: top;
  background: $dark;
  overflow: hidden;
  border: solid 1px $white;
  a {
    height: 100%;
    img {
      height: 100%;
      width: 200px;
      object-fit: cover;
    }
  }
  .card-dashboard-body {
    width: 100%;
    position: relative;
    padding: 16px;
    p {
      margin: 0;
    }
    a {
      color: $white;
    }
    .avatar-container {
      position: absolute;
      top: 20px;
      right: 20px;
      .avatar {
        border: solid 1px $white;
        width: 70px;
      }
    }
    .buttons {
      position: absolute;
      bottom: 10px;
      display: flex;
      .btn {
        margin-left: 10px;
      }
      .hide {
        display: none;
      }
    }
    .buttons-right {
      right: 10px;
    }
    .buttons-left {
      left: 10px;
    }
  }
  .tag {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    left: 10px;
    padding: 5px 15px;
    background-color: $red;
    border-radius: 20px;
    p {
      margin: 0;
    }
    &.pending {
     background-color: $strong;
    }
    &.accepted {
      background-color: $green;
    }
    &.active {
      background-color: $green;
    }
    &.done {
      background-color: $strong;
    }
  }
}

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-product .card-product-infos {
//   padding: 16px;
// }
