.card-dashboard {
  height: 180px;
  border-radius: 10px;
  margin: 10px 25px;
  box-shadow: 2px 2px 20px black;
  display: flex;
  align-items: top;
  background: $dark;
  overflow: hidden;
  img {
    height: 100%;
    width: 200px;
    object-fit: cover;
  } .card-dashboard-body {
    padding: 16px;
  }
}


// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-product .card-product-infos {
//   padding: 16px;
// }
