.card {
  flex-grow: 1;
  min-width: 150px;
  max-width: 350px;
  height: 275px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 2px 2px 20px black;
}

a:hover {
  text-decoration: none;
  .card-body {
    background-color: $strong;
  }
  .card {
    border-color: $strong;
  }
}

.card-img-top {
  position: relative;
  background-size: cover;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}
.card-body {
  position: relative;
  background-color: $dark;
  text-decoration: none;
  color: $white;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.card-text {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 1em;
  font-weight: 300;
  margin: 0;
}

.price {
  position: absolute;
  font-weight: 500;
  right: 10px;
  bottom: 10px;
  margin: 0;
}

.top-5-card {
  width: 100px;
  height: 200px;
  h5 {
    margin: 0;
  }
}

.card-stars {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: $dark;
  background-color: $white;
  padding: 0 5px;
  border-radius: 10px;
  #reviews-full-stars {
    color: $dark;
  }
}

