<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<%= simple_form_for([current_user, @spaceship, Review.new]) do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.button :submit, class: "btn btn-main" %>
<% end %>

